@use 'base/mixins' as m;
@use 'base/variables' as v;


.seccion4{
    background-image: url('/build/img/quienes2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: v.$azul-oscuro;
    .seccion4-interna{
        .titulo-seccion4{
            
        }
        .parrafos{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;

            @include m.tablet{
                grid-template-columns: repeat(3,1fr);
            }
            .parrafo-quienes{

                &:not(:first-of-type){
                    display: none;
                    @include m.tablet{
                        display: block;
                    }
                }
            }
        }
    }
}