

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopHD: 1200px;
$desktopFullHD: 1350px;

$azul-claro: #00dee3;
$azul-medio: #0a8b91;
$azul-oscuro: #1e3636;
$negro: #000000;
$blanco: #ffffff;
$verde: #00bb2d;